<div id="index_workouts">

<% @workouts.each do |work| %>
  <h2><%= link_to work.date.strftime("%A %B %d"), workout_path(work) %></h2>
  <h3><span>Workout:</span><%= work.workout  %></h3>
<% end %>
</div>
